html {
    scroll-behavior: smooth;
}

.menu-flex {
    display: flex;
}

.title {
    background-color: white;
    color: green;
    text-align: center;
    padding: 10vh;
}

.info {
    color: red;
}

.intro {
    background-color: teal;
    color: white
}

#image1 {
    display: none;
}

#eastA {
    color: red;
}

#carouselExampleDark {
    height: 50vh;
}

.kenyat {
    color: teal;
    font-weight: bolder;
}

#image2 {
    display: none;
}

.keyint {
    background-color: red;
    color: white;
}